@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.footer-container {
    background: url("./assets/bg.jpeg");
    background-size: cover;
}

.leaders-1 {
    background: url("./assets/home/leaders1.jpeg");
}

.leaders-2 {
    background: url("./assets/home/leaders2.jpeg");
}