@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}
.footer-container {
    background: url("./assets/footerbg.jpeg");
    background-size: cover;
}